.groupInput {
    padding: 1rem 0;
    margin: .8rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.groupInput > label {
    margin-bottom: .4rem;
}

.groupInputEdit {
    display: flex;
    align-items: center;
}

.editButton {
    cursor: pointer;
    user-select: none;
    font-size: 3rem;
    position: absolute;
    right: 0;
    width: 12%;
}

.input {
    padding: 1rem;
    font-size: 1rem;
    width: 85%;
}