.navigation {
    padding: 4rem 0;

    width: 20rem;
    height: 95vh;
    position: fixed;
    top: 5vh;

    background: #f9f9f9;

    border-right: 1px solid #eeeeee;
}

.navigation > div {
    padding: 0.7rem 3rem;
    margin: 2rem 0;

    font-size: 1.7rem;
    font-weight: 300;

    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    border-left: none;
    cursor: pointer;
    border-left: 8px solid #d47a0400;
}


.navigation > div:hover {
    border-left: 8px solid #d47a04;
}