.sectionInput {
    margin: 3rem;
    position: relative;
}

.sectionInput > input {
    font-size: 3rem;
    padding: 2rem 4rem;
    border: .3rem dashed var(--color-brown-light);
    color: var(--color-brown-dark);
    width: 100%;
}

.sectionInput > span {
    position: absolute;
    right: 5rem;
    top: 2.5rem;
    font-size: 3rem;
    cursor: pointer;
}

.sectionInput > span:hover {
    opacity: .6;
}


/**/


.sectionSearchList > h3 {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem;
}

.sectionSearchListWrapper {
    background: var(--color-grey-light);
    padding: 1rem;
}

.sectionSearchListWrapper  > h3 {
    text-align: center;
}

.sectionSearchListMessage {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    width: 100%;
    margin: 5rem;
}
