.header {
    height: 5rem;
    padding: 2rem 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    width: 100vw;

    background-color: #ffffffdc;
    box-shadow: 0 -15px 25px #333;

    z-index: 99;
}


.logo {
    font-size: 2.3rem;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px dashed #865513;
    border-bottom: 1px dashed #865513;
}

.logo1 {
    color: #d47a04;
}

.logo2 {
    color: #865513;
}

.userContainer {
    display: flex;
    align-items: center;
}

.avatar {
    margin: 0 .7rem;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.username {
    font-weight: bold;
    margin: 0 3rem 0 0;
    font-size: 1.1rem;
}

.notification,
.cart {
    font-size: 2rem;
    margin: 0 1rem;
    user-select: none;
    cursor: pointer;
}

.notification:hover,
.cart:hover {
    animation: iconAnimation 300ms forwards;
}


.notificationSection,
.shoppingCartSection {
    z-index: 99;
    position: absolute;
    top: 6.5rem;
    right: 2rem;
    background: var(--color-white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 25px -10px #333;

    animation: sectionIconAnimation 300ms forwards;

    min-width: 25rem;
    min-height: 35rem;

}

.notificationNaN {
    text-align: center;
    position: relative;
    top: 12.5rem;
    padding: 2rem;
    background: var(--color-grey-light);
    border: 2px dashed var(--color-grey);
    border-radius: 1rem;
}

.shoppingCartSectionFooter {
    position: absolute;
    min-width: 20rem;
    bottom: .5rem;

    display: flex;
    justify-content: space-around;
    padding: 1rem 0;

    border-top: 1px dashed var(--color-grey);
}

@keyframes iconAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes sectionIconAnimation {
    0% {
        transform: scale(0.5);
    }
    25% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}