:root {
  --color-brown-light: #ffe9cc;
  --color-brown-dark: #794400;

  --color-blue-super-light: #f1f7ff;
  --color-blue-light: #cce2fd;
  --color-blue: #1568ce;

  --color-green-super-light: #f1fff2;
  --color-green-light: #c1f3c4;
  --color-green: #2bcf36;

  --color-yellow-super-light: #fefff1;
  --color-yellow-light: #f2f3c1;
  --color-yellow: #d3cf04;

  --color-grey-light: #fdfcfc;
  --color-grey: ;

  --color-red-super-light: #fce7e7;
  --color-red-light: #ffb4b4;
  --color-red: #b41616;
  
  --color-white: #fff;
  --color-dark: #333;

  
  --color-primary: var(--color-blue-light);
  --color-secondary: var(--color-green-light);

  --color-background-page: var(--color-dark);

  --font-brand: ;
  --font-default: "Sans Serif";
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-default);
  
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


